<!DOCTYPE html>
<html>
  <head><title>Generated Cards</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

      body {
        margin: 0;
        padding: 0;
        font-family: 'Raleway';
      }

      .page {
        display: block;
        border: 1px dotted black;
        width: 215.9mm;
        height: 279.4mm;
        page-break-after: always;
      }

      .pageMargin {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        border: 1px dashed black;
        width: 190.50000000000003mm;
        height: 266.69999999999993mm;
        padding: 6.35mm 12.7mm 6.35mm 12.7mm;
      }

      .cardContainer {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        padding: 0;
      }

      .card {
        box-sizing: border-box;
        border: 1px solid black;
        margin: 0;
        width: 63.5mm;
        height: 88.9mm;
        position: relative;
        overflow: hidden;
        background-color: #eddab9;
      }

      .attribute {
        display: flex;
        position: absolute;
      }
    </style>
  </head>
  <body>
    <div class="page">
      <div class="pageMargin">
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Natural</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Flash Flood</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Plains / River</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Discard 2 Food or destroy 1 Farm on a Plains tile.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Natural</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Flash Flood</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Plains / River</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Discard 2 Food or destroy 1 Farm on a Plains tile.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Natural</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Root Rot</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Forest</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Production of Wood is halved (rounded down) for the next round.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Natural</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Root Rot</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Forest</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Production of Wood is halved (rounded down) for the next round.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Natural</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Cave-In</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Mountain</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'><strong>Blocked:</strong> Place a "Blocked" token on one Mine. It produces nothing until cleared.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Natural</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Cave-In</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Mountain</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'><strong>Blocked:</strong> Place a "Blocked" token on one Mine. It produces nothing until cleared.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Natural</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Blighted Crops</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Plains</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Destroy 1 Farm level 1. If a Level 2+ Farm exists, downgrade it by one level instead.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Natural</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Blighted Crops</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Plains</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Destroy 1 Farm level 1. If a Level 2+ Farm exists, downgrade it by one level instead.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Natural</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Deep Freeze</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Global</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>All players must discard 1 card from their hand immediately.</span></div>
          </div>
        </div>
    
      </div>
    </div>
    <div class="page">
      <div class="pageMargin">
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Natural</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Wildfire</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Forest</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Destroy 1 Forester Station. If adjacent to another Forest, spread to that tile unless 2 Food (Water) spent.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Natural</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Tremors</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Mountain</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>All Stone production reduced by 1 per Quarry this round.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Natural</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Tremors</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Mountain</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>All Stone production reduced by 1 per Quarry this round.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Natural</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Drought</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Plains</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Food production cost increases: Must spend 1 Wood to harvest Food this round.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Natural</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Drought</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Plains</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Food production cost increases: Must spend 1 Wood to harvest Food this round.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Natural</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Pestilence</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Global</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Each player must trash 1 card from their hand or discard 2 cards.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Natural</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Heavy Fog</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Global</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Exploration action costs +1 Resource this round.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Hostile</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Kobold Scavengers</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Storage</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Lose 3 basic resources of the team's choice. <strong>Fox Walls</strong> prevent this.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Hostile</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Kobold Scavengers</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Storage</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Lose 3 basic resources of the team's choice. <strong>Fox Walls</strong> prevent this.</span></div>
          </div>
        </div>
    
      </div>
    </div>
    <div class="page">
      <div class="pageMargin">
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Hostile</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Kobold Scavengers</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Storage</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Lose 3 basic resources of the team's choice. <strong>Fox Walls</strong> prevent this.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Hostile</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Siege Engine</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Any Building</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Destroy one building on the outermost edge of the map. <strong>Fortifications</strong> (Lvl 2+) prevent this.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Hostile</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Supply Ambush</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Roads</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Players cannot pass cards to neighbors during the next round.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Hostile</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Supply Ambush</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Roads</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Players cannot pass cards to neighbors during the next round.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Hostile</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Goblin Raiders</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Outskirts</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Steal 1 random card from each player's hand. <strong>Fox Walls</strong> prevent this.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Hostile</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Goblin Raiders</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Outskirts</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Steal 1 random card from each player's hand. <strong>Fox Walls</strong> prevent this.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Hostile</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Bandit Camp</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Hex Tile</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Place a Bandit Token on a random empty hex. Blocks building until cleared (Cost: 3 Resources).</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Hostile</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Bandit Camp</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Hex Tile</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Place a Bandit Token on a random empty hex. Blocks building until cleared (Cost: 3 Resources).</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Aether</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'>+1</span><img src="../components/icons/storm.svg" style="margin-left: 2mm; width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Mana Surge</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Global</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>All Owl Research costs increase by 1 resource this round.</span></div>
          </div>
        </div>
    
      </div>
    </div>
    <div class="page">
      <div class="pageMargin">
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Aether</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'>+1</span><img src="../components/icons/storm.svg" style="margin-left: 2mm; width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Mana Surge</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Global</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>All Owl Research costs increase by 1 resource this round.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Aether</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'>+1</span><img src="../components/icons/storm.svg" style="margin-left: 2mm; width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Reality Fracture</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Magic Tree</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Lose 2 Insight or move the Storm Track an additional +1 step.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Aether</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'>+1</span><img src="../components/icons/storm.svg" style="margin-left: 2mm; width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Reality Fracture</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Magic Tree</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Lose 2 Insight or move the Storm Track an additional +1 step.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Aether</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'>+2</span><img src="../components/icons/storm.svg" style="margin-left: 2mm; width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>The Storm's Eye</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Fox House</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>The Fox player must shuffle 2 "Fear" cards into their deck.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Aether</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'>+1</span><img src="../components/icons/storm.svg" style="margin-left: 2mm; width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Aether Howl</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Global</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'><strong>Silence:</strong> No players may communicate verbally during the next Strategy Phase.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Aether</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'>+1</span><img src="../components/icons/storm.svg" style="margin-left: 2mm; width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Aether Feedback</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Owl House</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Owl player must discard 1 card for every 2 Research cards they have in their tableau.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Aether</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'>+1</span><img src="../components/icons/storm.svg" style="margin-left: 2mm; width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Aether Feedback</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Owl House</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Owl player must discard 1 card for every 2 Research cards they have in their tableau.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Aether</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'>+1</span><img src="../components/icons/storm.svg" style="margin-left: 2mm; width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Time Dilation</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Badger House</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Badgers have -1 Worker this round.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Aether</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'>+1</span><img src="../components/icons/storm.svg" style="margin-left: 2mm; width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Resource Decay</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Storage</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>All stored Basic Resources are reduced by half (rounded up).</span></div>
          </div>
        </div>
    
      </div>
    </div>
    <div class="page">
      <div class="pageMargin">
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Aether</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'>+2</span><img src="../components/icons/storm.svg" style="margin-left: 2mm; width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Shadow Walkers</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Global</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Hostile Events this round have +1 Severity.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Aether</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'>+1</span><img src="../components/icons/storm.svg" style="margin-left: 2mm; width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Void Whispers</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Global</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Players cannot draw cards from card effects this round.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Aether</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'>+2</span><img src="../components/icons/storm.svg" style="margin-left: 2mm; width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>The Darkening</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Global</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'>Reveal the next 2 events immediately. Resolve them both.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Aether</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'>+3</span><img src="../components/icons/storm.svg" style="margin-left: 2mm; width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Storm Climax</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>Global</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'><strong>CRITICAL:</strong> If not cancelled by spending 10 Insight, the game ends immediately (Loss).</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>None</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'><strong>Unplayable.</strong> Cannot be played for any action. Takes up hand space.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>None</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'><strong>Unplayable.</strong> Cannot be played for any action. Takes up hand space.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>None</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'><strong>Unplayable.</strong> Cannot be played for any action. Takes up hand space.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>None</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'><strong>Unplayable.</strong> Cannot be played for any action. Takes up hand space.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>None</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'><strong>Unplayable.</strong> Cannot be played for any action. Takes up hand space.</span></div>
          </div>
        </div>
    
      </div>
    </div>
    <div class="page">
      <div class="pageMargin">
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>None</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'><strong>Unplayable.</strong> Cannot be played for any action. Takes up hand space.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>None</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'><strong>Unplayable.</strong> Cannot be played for any action. Takes up hand space.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>None</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'><strong>Unplayable.</strong> Cannot be played for any action. Takes up hand space.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>None</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'><strong>Unplayable.</strong> Cannot be played for any action. Takes up hand space.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 30mm;height: auto;'><span style='font-size: 3.5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 48mm; top: 3mm;width: 9mm;height: 8mm;justify-content: center;'><span style='font-size: 6.5mm;font-weight: bold;'></span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Fear</span></div>
<div class="attribute" style='left: 4mm; top: 18mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3.5mm;font-weight: normal;'>None</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;'><span style='font-size: 3.5mm;font-weight: normal;'><strong>Unplayable.</strong> Cannot be played for any action. Takes up hand space.</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card"></div>
        </div>
        <div class="cardContainer">
          <div class="card"></div>
        </div>
        <div class="cardContainer">
          <div class="card"></div>
        </div>
        <div class="cardContainer">
          <div class="card"></div>
        </div>
      </div>
    </div>
  </body>
</html>