<!DOCTYPE html>
<html>
  <head><title>Generated Cards</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

      body {
        margin: 0;
        padding: 0;
        font-family: 'Raleway';
      }

      .page {
        display: block;
        border: 1px dotted black;
        width: 215.9mm;
        height: 279.4mm;
        page-break-after: always;
      }

      .pageMargin {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        border: 1px dashed black;
        width: 190.50000000000003mm;
        height: 266.69999999999993mm;
        padding: 6.35mm 12.7mm 6.35mm 12.7mm;
      }

      .cardContainer {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        padding: 0;
      }

      .card {
        box-sizing: border-box;
        border: 1px solid black;
        margin: 0;
        width: 63.5mm;
        height: 88.9mm;
        position: relative;
        overflow: hidden;
        background-color: #eddab9;
      }

      .attribute {
        display: flex;
        position: absolute;
      }
    </style>
  </head>
  <body>
    <div class="page">
      <div class="pageMargin">
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>Heart of the Wood</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Barkshell Casing</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>8</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/wood.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">3</span></span><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/stone.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>Heart of the Wood</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Sapflow Channels</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>10</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/wood.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/lumber.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>Heart of the Wood</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Spirit Conduit</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>12</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/steel.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/brick.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">1</span></span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>Heart of the Wood</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Core Crystal</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>14</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/steel.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">1</span></span><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/brick.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>The Aether Siphon</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Conductive Spire</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>9</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/wood.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">4</span></span><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/lumber.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>The Aether Siphon</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Capacitor Banks</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>12</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/steel.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/stone.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">1</span></span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>The Aether Siphon</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Grounding Rods</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>13</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/steel.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">1</span></span><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/brick.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>The Aether Siphon</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Energy Core</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>15</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/lumber.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/steel.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>Stoneweave Bastion</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Foundation</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>10</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/stone.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">4</span></span></div>
          </div>
        </div>
    
      </div>
    </div>
    <div class="page">
      <div class="pageMargin">
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>Stoneweave Bastion</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Ramparts</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>12</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/stone.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">3</span></span><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/brick.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">1</span></span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>Stoneweave Bastion</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Inner Keep</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>14</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/brick.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/steel.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">1</span></span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>Stoneweave Bastion</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Guardian Sigils</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>16</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/insight.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/steel.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>The Harmonic Resonator</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Base Platform</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>8</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/wood.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">3</span></span><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/stone.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>The Harmonic Resonator</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Crystal Matrix</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>12</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/steel.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">1</span></span><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/brick.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>The Harmonic Resonator</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Resonant Forks</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>14</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/steel.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>The Harmonic Resonator</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Tuning Mechanism</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>16</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/insight.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/lumber.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>The Genesis Vault</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Intake Vents</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>9</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/wood.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">3</span></span><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/lumber.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">1</span></span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>The Genesis Vault</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Stasis Chambers</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>12</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/brick.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/stone.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">1</span></span></div>
          </div>
        </div>
    
      </div>
    </div>
    <div class="page">
      <div class="pageMargin">
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>The Genesis Vault</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Mutation Catalyst</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>14</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/steel.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">2</span></span><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/lumber.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">1</span></span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>The Genesis Vault</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Life Support</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>16</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/steel.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">1</span></span><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/brick.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">1</span></span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 4mm; top: 3mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 3mm;font-weight: normal;'>The Genesis Vault</span></div>
<div class="attribute" style='left: 4mm; top: 10mm;width: 55.5mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: bold;'>Evolution Interface</span></div>
<div class="attribute" style='left: 28.75mm; top: 20mm;width: 6mm;height: 6mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 26.75mm; top: 31mm;width: 10mm;height: 6mm;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>18</span></div>
<div class="attribute" style='left: 4mm; top: 60mm;width: 55.5mm;height: auto;justify-content: center;align-items: center; flex-wrap: wrap; gap: 1mm;'><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/steel.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">1</span></span><span style="display: flex; align-items: center; gap: 1mm;"><img src="../components/icons/insight.svg" style="width: 10mm; height: 10mm;" /><span style="font-size: 6.5mm; font-weight: bold;">1</span></span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card"></div>
        </div>
        <div class="cardContainer">
          <div class="card"></div>
        </div>
        <div class="cardContainer">
          <div class="card"></div>
        </div>
        <div class="cardContainer">
          <div class="card"></div>
        </div>
        <div class="cardContainer">
          <div class="card"></div>
        </div>
        <div class="cardContainer">
          <div class="card"></div>
        </div>
      </div>
    </div>
  </body>
</html>