<!DOCTYPE html>
<html>
  <head><title>Generated Cards</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

      body {
        margin: 0;
        padding: 0;
        font-family: 'Raleway';
      }

      .page {
        display: block;
        border: 1px dotted black;
        width: 215.9mm;
        height: 279.4mm;
        page-break-after: always;
      }

      .pageMargin {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        border: 1px dashed black;
        width: 190.50000000000003mm;
        height: 266.69999999999993mm;
        padding: 6.35mm 12.7mm 6.35mm 12.7mm;
      }

      .cardContainer {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        padding: 0;
      }

      .card {
        box-sizing: border-box;
        border: 1px solid black;
        margin: 0;
        width: 127mm;
        height: 203mm;
        position: relative;
        overflow: hidden;
        background-color: #eddab9;
      }

      .attribute {
        display: flex;
        position: absolute;
      }
    </style>
  </head>
  <body>
    <div class="page">
      <div class="pageMargin">
        <div class="cardContainer">
          <div class="card">
    <div class="attribute" style='left: 8mm; top: 6mm;width: 111mm;height: auto;justify-content: center;'><span style='font-size: 12mm;font-weight: bold;'>Resource Icons</span></div>
<div class="attribute" style='left: 8mm; top: 24mm;width: 111mm;height: auto;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>Basic Resources</span></div>
<div class="attribute" style='left: 12mm; top: 36mm;width: 12mm;height: 12mm;'><img src="../components/icons/wood.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 10mm; top: 49mm;width: 16mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: normal;'>Wood</span></div>
<div class="attribute" style='left: 31mm; top: 36mm;width: 12mm;height: 12mm;'><img src="../components/icons/stone.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 29mm; top: 49mm;width: 16mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: normal;'>Stone</span></div>
<div class="attribute" style='left: 50mm; top: 36mm;width: 12mm;height: 12mm;'><img src="../components/icons/food.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 48mm; top: 49mm;width: 16mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: normal;'>Food</span></div>
<div class="attribute" style='left: 69mm; top: 36mm;width: 12mm;height: 12mm;'><img src="../components/icons/ore.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 67mm; top: 49mm;width: 16mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: normal;'>Ore</span></div>
<div class="attribute" style='left: 8mm; top: 60mm;width: 111mm;height: auto;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>Refined Resources</span></div>
<div class="attribute" style='left: 12mm; top: 72mm;width: 12mm;height: 12mm;'><img src="../components/icons/lumber.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 9mm; top: 85mm;width: 18mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: normal;'>Lumber</span></div>
<div class="attribute" style='left: 31mm; top: 72mm;width: 12mm;height: 12mm;'><img src="../components/icons/steel.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 29mm; top: 85mm;width: 16mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: normal;'>Steel</span></div>
<div class="attribute" style='left: 50mm; top: 72mm;width: 12mm;height: 12mm;'><img src="../components/icons/brick.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 48mm; top: 85mm;width: 16mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: normal;'>Brick</span></div>
<div class="attribute" style='left: 69mm; top: 72mm;width: 12mm;height: 12mm;'><img src="../components/icons/insight.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 66mm; top: 85mm;width: 18mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: normal;'>Insight</span></div>
<div class="attribute" style='left: 92mm; top: 72mm;width: 12mm;height: 12mm;'><img src="../components/icons/knowledge.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 88mm; top: 85mm;width: 23mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: normal;'>Knowledge</span></div>
<div class="attribute" style='left: 8mm; top: 100mm;width: 111mm;height: auto;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>Game Symbols</span></div>
<div class="attribute" style='left: 38mm; top: 112mm;width: 12mm;height: 12mm;'><img src="../components/icons/storm.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 36mm; top: 125mm;width: 16mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: normal;'>Storm</span></div>
<div class="attribute" style='left: 69mm; top: 112mm;width: 12mm;height: 12mm;'><img src="../components/icons/dice.svg" style="width: 10mm; height: 10mm;" /></div>
<div class="attribute" style='left: 66mm; top: 125mm;width: 18mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: normal;'>Quality</span></div>
<div class="attribute" style='left: 8mm; top: 133mm;width: 111mm;height: 25mm;'><span style='font-size: 4.5mm;font-weight: normal;'>Action cards with a Food icon cost Food to purchase from the Market. Research cards cost various resources. Some Great Works components require Insight or Knowledge.</span></div>
<div class="attribute" style='left: 8mm; top: 162mm;width: 111mm;height: auto;justify-content: center;'><span style='font-size: 8mm;font-weight: bold;'>Building Icons</span></div>
<div class="attribute" style='left: 12mm; top: 174mm;width: 12mm;height: 12mm;justify-content: center;'><span style='font-size: 10mm;'>🏡</span></div>
<div class="attribute" style='left: 10mm; top: 187mm;width: 16mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: normal;'>Farm</span></div>
<div class="attribute" style='left: 36mm; top: 174mm;width: 12mm;height: 12mm;justify-content: center;'><span style='font-size: 10mm;'>⛏️</span></div>
<div class="attribute" style='left: 34mm; top: 187mm;width: 16mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: normal;'>Mine</span></div>
<div class="attribute" style='left: 60mm; top: 174mm;width: 12mm;height: 12mm;justify-content: center;'><span style='font-size: 10mm;'>🗿</span></div>
<div class="attribute" style='left: 58mm; top: 187mm;width: 16mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: normal;'>Quarry</span></div>
<div class="attribute" style='left: 84mm; top: 174mm;width: 12mm;height: 12mm;justify-content: center;'><span style='font-size: 10mm;'>🌲</span></div>
<div class="attribute" style='left: 79mm; top: 187mm;width: 23mm;height: auto;justify-content: center;'><span style='font-size: 5mm;font-weight: normal;'>Forester Station</span></div>
          </div>
        </div>
    
        <div class="cardContainer">
          <div class="card"></div>
        </div>
        <div class="cardContainer">
          <div class="card"></div>
        </div>
        <div class="cardContainer">
          <div class="card"></div>
        </div>
        <div class="cardContainer">
          <div class="card"></div>
        </div>
        <div class="cardContainer">
          <div class="card"></div>
        </div>
        <div class="cardContainer">
          <div class="card"></div>
        </div>
        <div class="cardContainer">
          <div class="card"></div>
        </div>
        <div class="cardContainer">
          <div class="card"></div>
        </div>
      </div>
    </div>
  </body>
</html>